name: CI

on:
  - pull_request

jobs:
  lint:
    name: Source code formatting & spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm i

      - name: Spellcheck
        run: pnpm spellcheck
